body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 60vh;
  width: 100%;
}

button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

form {
  margin: 10px;
  padding: 15px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
